<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.XA.Foundation.Theming.EventHandlers.AssetContentRefresher, Sitecore.XA.Foundation.Theming" 
                 set:type="Sitecore.Support.EventHandlers.AssetContentRefresher, Sitecore.Support.12563" set:method="OnPublishEnd"/>
      </event>
    </events>
  </sitecore>
</configuration>